# Django
*.log
*.pot
*.pyc
local_settings.py

# Temporary Linux files
*~
*.swp
*.swo

# Local IDE files
.idea
.project
.pydevproject
.settings

# Local data
*migrations
*.sqlite3
src/chiara/settings/local.py
src/chiara/wsgi.py
src/webdav/*
