# Django
*.log
*.pot
*.pyc
local_settings.py

# Temporary Linux files
*~
*.swp
*.swo

# Local IDE files
.idea
.project
.pydevproject

# Local data
*migrations
src/chiara/settings.py
src/chiara/wsgi.py
