<!doctype html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Chiara data management{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'base/ico/favicon.ico' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{% block head_block %}{% endblock %}
</head>

<body>
	{# chiara logo #}
    <img class="chiara-logo" src="{% static 'base/img/chiara-logo_big.jpg' %}" alt="chiara-logo"> 
    
    {# tabbar #}
    <table class="tabbar">
	<tr>
  		{% block news_tab %}
  		<td class="tab"><a class="tab-notselected" href={% url 'news' %}>News</a></td>
  		{% endblock %}
  		
  		{% if user.is_authenticated %}
	  		{% block shared_folder_tab %}
	  		<td class="tab"><a class="tab-notselected" href={% url 'my_shared_folder' %}>My shared folder</a></td>
	  		{% endblock %}
	  	{% endif %}
	  	
  		{% block retrieve_tab %}
  		<td class="tab"><a class="tab-notselected" href={% url 'retrieve_new_collections' %}>Retrieve new collections</a></td>
  		{% endblock %}
  		
  		{% if user.is_authenticated %}
	  		{% block manage_tab %}
	  		<td class="tab"><a class="tab-notselected" href={% url 'manage_my_collections' %}>Manage my collections</a></td>
	  		{% endblock %}
	  	{% endif %}
	  	
  		{% if user.is_authenticated %}
	  		{% block account_tab %}
	  		<td class="accounttab"><a class="accounttab-notselected" href={% url 'my_account' %}>My account</a></td>
	  		{% endblock %}
	  	{% else %}
	  		{% block login_tab %}
	  		<td class="accounttab"><a class="accounttab-notselected" href={% url 'login' %}>Login</a></td>
	  		{% endblock %}
	  	{% endif %}
	</tr>
	</table> 
	
	{# different tab content #}
	<div class="content-frame">
    {% block content %}{% endblock %}
    </div>
    
    {# footbar #}
    <table class="footbar">
    <tr>
    	{% if user.is_admin %}
  			<td class="foottab"><a class="foottab-notselected" href='../admin' target="_blank">Administration</a></td>    	
  		{% endif %}
  		<td class="foottab"><a class="foottab-notselected" href='../doc/index.html' target="_blank">Documentation</a></td>    	
    </tr>
    </table>
    
    
    
</body>
</html>