<!doctype html>
{% load staticfiles %}
{% load template_filters %}

<head>
    <meta charset="utf-8">
    <title>{% block title %}Chiara data management{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'base/ico/favicon.ico' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{% block head_block %}{% endblock %}
	<script src="{% static 'base/js/dropdown.js' %}" type="text/javascript"></script>
</head>

<body>
	{# chiara logo #}
    <img class="chiara-logo" src="{% static 'base/img/chiara-logo_big.jpg' %}" alt="chiara-logo"> 
    
    {# tabbar #}
    <table class="tabbar">
	<tr>
  		{% block news_tab %}
  		<td class="tab"><a class="tab-notselected" href={% url 'news' %}>News</a></td>
  		{% endblock %}
  		
  		{% if user.is_anonymous %}
	  		{% block public_folder_tab %}
	  		<td class="tab"><a class="tab-notselected" href={% url 'public_folder' %}>Public folder</a></td>
	  		{% endblock %}  			
  		{% endif %}
  		
  		{% if user.is_authenticated %}
	  		{% block shared_folder_tab %}
	  		<td class="tab"><a class="tab-notselected" href={% url 'my_shared_folder' %}>My shared folder</a></td>
	  		{% endblock %}
	  	{% endif %}
	  	
  		{% block retrieve_tab %}
  		<td class="tab"><a class="tab-notselected" href={% url 'retrieve_new_collections' %}>Retrieve new collections</a></td>
  		{% endblock %}
  		
  		{% if user.is_authenticated %}
	  		{% block manage_tab %}
	  		<td class="tab"><a class="tab-notselected" href={% url 'manage_my_collections' %}>Manage my collections</a></td>
	  		{% endblock %}
	  	{% endif %}
	  	
  		{% if user.is_authenticated %}
	  		<td class="accounttab">
	  		<a {% block account_tab %} class="accounttab-notselected" {% endblock %}
	  			href="" onmouseover="mopen('account')" onmouseout="mclosetime()">My account</a>
			<div class="accounttab-dropdown" id="account" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
				<a class="accounttab-dropdown-user"> Logged on: {{ user }} </a>
				<a class="accounttab-dropdown" href={% url 'preferences' %}> My preferences </a>
				<a class="accounttab-dropdown" href={% url 'logout' %}> Logout </a>
			</div>
	  		</td>
	  	{% else %}
	  		{% block login_tab %}
	  		<td class="accounttab"><a class="accounttab-notselected" href={% url 'login' %}>Login</a></td>
	  		{% endblock %}
	  	{% endif %}
	</tr>
	</table> 
	
	{# different tab content #}
	<div class="content_frame">
    {% block content %}{% endblock %}
    </div>
    
    {# footbar #}
    <table class="footbar">
    <tr>
    	{% if user.is_admin %}
  			<td class="foottab"><a class="foottab-notselected" href={{'admin'|join_force_script_name}} target="_blank">Administration</a></td>    	
  		{% endif %}
  		<td class="foottab"><a class="foottab-notselected" href={{'doc/index.html'|join_force_script_name}} target="_blank">Documentation</a></td>    	
    </tr>
    </table>
    
</body>
</html>