/* VARIABLES */
/* ========= */
/* COMMON */
/* ====== */
body {
  background-color: #efefff;
}
img.chiara-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
/* CONTENT */
/* ======= */
div.content-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 70%;
}
.info {
  font: normal bold 12px Verdana, Arial, Helvetica;
}
.error {
  font: normal bold 12px Verdana, Arial, Helvetica;
  color: #cf2040;
}
.description {
  padding-top: 10px;
  font: normal bold 12px Verdana, Arial, Helvetica;
}
.normal_text {
  font: normal 12px Verdana, Arial, Helvetica;
}
.error {
  font: normal bold 12px Verdana, Arial, Helvetica;
  color: #e60000;
}
table.content {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* BUTTON */
/* ====== */
.button {
  font: normal 12px Verdana, Arial, Helvetica;
  text-decoration: none;
}
/* HEADBAR */
/* ======= */
table.tabbar {
  background-color: #ffefaf;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
/* basic tabs */
/* ---------- */
td.tab {
  line-height: 0px;
  text-align: center;
}
a.tab-notselected,
a.tab-selected {
  font: normal bold 12px Verdana, Arial, Helvetica;
  text-decoration: none;
}
a.tab-notselected {
  color: #2040cf;
}
a.tab-notselected:hover {
  color: #40709a;
}
a.tab-selected {
  color: #cf2040;
}
a.tab-selected:hover {
  color: #af4060;
}
/* account tab */
/* ----------- */
td.accounttab {
  line-height: 0px;
  text-align: center;
}
a.accounttab-notselected,
a.accounttab-selected {
  font: normal bold 12px Verdana, Arial, Helvetica;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
a.accounttab-notselected {
  color: #5a5a5a;
}
a.accounttab-notselected:hover {
  color: #8a8a8a;
}
a.accounttab-selected {
  color: #cf2040;
}
a.accounttab-selected:hover {
  color: #af4060;
}
div.accounttab-dropdown {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  width: 12%;
  background: #ffefaf;
}
a.accounttab-dropdown,
a.accounttab-dropdown-user {
  display: block;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  background: #ffefaf;
  color: #5a5a5a;
}
a.accounttab-dropdown {
  font: normal bold 11px Verdana, Arial, Helvetica;
}
a.accounttab-dropdown:hover {
  color: #8a8a8a;
}
a.accounttab-dropdown-user {
  font: normal 11px Verdana, Arial, Helvetica;
}
/* FOOTBAR */
/* ======= */
table.footbar {
  background-color: #ffefaf;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
td.foottab {
  line-height: 0px;
  text-align: center;
}
a.foottab-notselected {
  font: normal bold 12px Verdana, Arial, Helvetica;
  text-decoration: none;
}
a.foottab-notselected {
  color: #5a5a5a;
}
a.foottab-notselected:hover {
  color: #8a8a8a;
}
