@base_font_family: Verdana, Arial, Helvetica;


/* COMMON */
/* ====== */

a.listdir-name {
	font: normal bold 12px @base_font_family;
    text-decoration:none;
    color:rgb(90,90,234);
}

a.listdir-name:hover {
	color: rgb(138,138,250);
}

a.listfile-name{
	font: normal 12px @base_font_family;
    text-decoration:none;
    color:rgb(90,90,90);
}

a.listfile-name:hover{
	color: rgb(138,138,138);
}


/* PUSH LOKAL REVISION */
/* =================== */

textarea.comment {
	margin-left: 20px;
}


/* UPDATE TO REVISION */
/* ================== */

select.revision {
	font: normal 11px @base_font_family;
	margin-left: 20px;
}

table.compendium {
	font: normal 12px @base_font_family;
    margin-top:10px;
	margin-left: 20px;
    text-align: left;
	border-collapse: collapse;
	//table-layout: fixed
}

th.compendium {
	font-weight: bold;
	padding: 6px;
	background: rgb(182,217,236);
	border-top: 4px solid rgb(106,180,217);
	border-bottom: 1px solid #fff;
	color: rgb(32,48,128);
}

td.compendium{
	padding: 6px;
	color: #807040;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #fff;
	word-wrap: break-word;
	max-width:400px;
}