@base_font_family: Verdana, Arial, Helvetica;


/* COMMON */
/* ====== */

th.listdir {
	font: normal bold 12px @base_font_family;
	text-decoration: underline;
	padding-top: 15px;
	margin-left: 10px;
	width: 33%;
	text-align: left;
}

td.listdir-name {
	margin-left: 10px;
	width: 33%;
}

td.listdir-info {
	width: 33%;
	font: normal 12px @base_font_family;
	color:rgb(128,112,64);
}

select.listdir-action {
	font: normal 12px @base_font_family;
}

a.listdir-name {
	font: normal bold 12px @base_font_family;
    text-decoration:none;
    color:rgb(90,90,234);
}

a.listdir-name:hover {
	color: rgb(138,138,250);
}

a.listfile-name{
	font: normal 12px @base_font_family;
    text-decoration:none;
    color:rgb(90,90,90);
}

a.listfile-name:hover{
	color: rgb(138,138,138);
}


/* PUSH LOKAL REVISION */
/* =================== */

textarea.comment {
	margin-left: 20px;
}

input.push {
	margin-left: 20px;
}

/* UPDATE TO REVISION */
/* ================== */

select.revision {
	margin-left: 20px;
}

table.compendium {
	font: normal 12px @base_font_family;
    margin-top:10px;
	margin-left: 20px;
    text-align: left;
	border-collapse: collapse;
}

th.compendium {
	font-weight: bold;
	padding: 6px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #203080;
}

td.compendium{
	padding: 6px;
	color: #807040;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #fff;
}