/* COMMON */
/* ====== */
div.progress_container {
  width: 33%;
  height: 25px;
  margin-top: 10px;
  margin-left: 20px;
  border: 1px solid black;
}
div.progressbar {
  width: 0%;
  height: 25px;
  background: #1782bd;
}
