/* COMMON */
/* ====== */
select.listdir-action {
  font: normal 11px Verdana, Arial, Helvetica;
}
/* UPDATE TO REVISION */
/* ================== */
select.revision {
  font: normal 11px Verdana, Arial, Helvetica;
  margin-left: 20px;
}
table.search_results {
  font: normal 12px Verdana, Arial, Helvetica;
  margin-top: 10px;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th.search_results {
  font-weight: bold;
  padding: 6px;
  background: #b6d9ec;
  border-top: 4px solid #6ab4d9;
  border-bottom: 1px solid #fff;
  color: #203080;
}
td.search_results {
  padding: 6px;
  color: #807040;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #fff;
  word-wrap: break-word;
}
