{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/progress.css' %}">
	
	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{% static 'omnibus/omnibus.min.js' %}"></script>
	<script type="text/javascript">
		(function() {
			// Select a transport implementation:
			var transport = WebSocket; // SockJS can be used alternatively
			// Receive the path for the connection from the django template context:
			var endpoint = 'ws:\/\/localhost:4242\/ec'; // '{{ OMNIBUS_ENDPOINT }}';
			// Create a new connection using transport, endpoint and options
			var connection = new Omnibus(transport, endpoint);
			
			var progressChannel = connection.openChannel('progress{{ task_id }}');
			
			progressChannel
				.on('update', function(event) {
					if(event.data.payload.current > event.data.payload.total) {
					    document.getElementById("state").innerHTML = event.data.payload.total + " of " + event.data.payload.total + " Bytes";
					    document.getElementById("progressbar").style.width = "100%";
					} else {
					    document.getElementById("state").innerHTML = event.data.payload.current + " of " + event.data.payload.total + " Bytes";
					    document.getElementById("progressbar").style.width = event.data.payload.progress + "%";
					}
				    document.getElementById("current").innerHTML = event.data.payload.current_pos;
				})
				.on('info', function(event) {
					document.getElementById("progress").style.display = "none";
				    document.getElementById("info").innerHTML = event.data.payload.message;
				})
				.on('error', function(event) {
					document.getElementById("progress").style.display = "none";
				    document.getElementById("error").innerHTML = event.data.payload.message;
				});
			
		})();
	</script>
{% endblock %}

{% block content %}
	<table id="progress" class="content_frame">
	    <tr>
	  	  <td class="description"> Action: <span class="normal_text"> {{ action }} </span></td>
	    </tr>
	    <tr>
	      <td class="description"> State: <span id="state" class="normal_text"> Loading... </span></td>
	    </tr>
	    <tr>
	      <td class="description"> Current: <span id="current" class="normal_text"> </span></td>
	    </tr>
	    <tr>
	      <td>
	      	<div id="container" class="progress_container">
			  <div id="progressbar" class="progressbar"></div>
			</div>
	      </td>
	    </tr>
	</table>

	<p id="info" class="info"></p>
	<p id="error" class="error"></p>
	
{% endblock %}
