{% extends "base.html" %}

{% block title %} My account {% endblock %}

{% block account_tab %}
<td class="accounttab"><a class="accounttab-selected" href={% url 'my_account' %}>My account</a></td>
{% endblock %}

{% block login_tab %}
<td class="accounttab"><a class="accounttab-selected" href={% url 'login' %}>Login</a></td>
{% endblock %}


{% block content %}
<p class="description">Logged in: <span class="normal_text">{{ user }}</span></p>
<a class="button" href={% url 'logout' %}>
   <input class="button" type="button" value="Logout" />
</a>
{% endblock %}