{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Change password {% endblock %}

{% block account_tab %}
class="accounttab-selected"
{% endblock %}

{% block login_tab %}
<td class="accounttab"><a class="accounttab-selected" href={% url 'password_change' %}>Change password</a></td>
{% endblock %}


{% block content %}

{% if form.old_password.errors %}
	<p class="error">Your old password is not correct!</p>
{% endif %}
{% if form.new_password1.errors or form.new_password2.errors %}
	<p class="error">Your new password and its confirmation did not match or is empty!</p>
{% endif %}
<p class="info"> Please enter your old and new password: </p>

<form action="" method="post">{% csrf_token %}
<table>
<tr>
    <td class="description">Old password:</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td class="description">New password:</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td class="description">Confirm new password:</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>	
<button type="submit" value="Change my password" style="margin-top: 10px">Change my password</button>
</form>

{% endblock %}