{% extends "base.html" %}
{% load staticfiles %}
{% load template_filters %}

{% block head_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/my_shared_folder.css' %}">
	<script>
       	function check_comment() {
       		if(document.getElementById("comment").value.trim() == '') {
			    document.getElementById("operation").value = "push:commit";
			    alert("Please comment your local changes!");
			}
       	}
    </script>
{% endblock %}

{% block title %} Mount ownCloud {% endblock %}

{% block shared_folder_tab %}
<td class="tab"><a class="tab-selected" href={% url 'my_shared_folder' %}>My shared folder</a></td>
{% endblock %}

{% block content %}

{% if form.errors %}
	<p class="error">Your username and password didn't match. Please try it again!</p>
{% endif %}
<p class="info"> Please enter your ownCloud username and password: </p>

<table class="content">
	
	<form action={% url 'mount_owncloud' %} method="post">{% csrf_token %}
		<table>
			<tr class="description">
			    <td>{{ form.user.label_tag }}</td>
			    <td>{{ form.user }}</td>
			</tr>
			<tr class="description">
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
			</tr>
		</table>
		
		<input type="submit" value="mount" />
	</form>
 </table>
 
{% endblock %}
