{% extends "base.html" %}	

{% block title %} My shared folder {% endblock %}

{% block shared_folder_tab %}
<td class="tab"><a class="tab-selected" href={% url 'my_shared_folder' %}>My shared folder</a></td>
{% endblock %}

{% block content %}

<table class="content">
  <tr>
  	<td class="description" colspan="3"> Current directory: <span class="normal_text"> {{ rel_path }} </span></p>
  </tr>
{% comment %}
  <tr>
  	<th class="listdir"> Name </th>
  	<th class="listdir"> ID / Revision / Size </th>
  	<th class="listdir"> Action </th>
  </tr>
{% endcomment %}
  {# List Collections #}
  <tr>
    <td class="listdir-header">Collections</td>
    <td class="listdir-header">ID / Revision / Size</td>
    <td> </td>
  </tr>
  <tr>
	{% for c in collections %}
		<td class="listdir-name"><a class="listdir-name" href={{ c.directory.name }}> {{ c.directory.name }} </a></td>
		<td class="listdir-info"> {{ c.identifier }} / {{ c.revision }} / {{ c.directory.size }} </td>
		<td> 
			<select class="listdir-action">
			  <option value="push">push local revision</option>
			  <option value="pull">update to revision</option>
			  <option value="unsubscribe">unsubscribe</option>
			</select>
			<input class="button" type="button" value="OK" />
		</td>
	{% endfor %}
  </tr>
  {# List Directories #}
  <tr>
    <td class="listdir-header" colspan="3">Directories</td>
  </tr>
  {% for d in dirs %}
  	<tr>
		<td class="listdir-name"><a class="listdir-name" href={{ d.name }}> {{ d.name }} </a></td>
		<td class="listdir-info"> - / {{ d.revision }} / {{ d.size }} </td>
		<td>
			{% if not d.part_of_collection %}
				<select class="listdir-action">
				  <option value="add">add to collection</option>
				</select>
				<input class="button" type="button" value="OK" />
			{% endif %}
		</td>
  	</tr>
  {% endfor %}
  {# List Files #}
  <tr>
    <td class="listdir-header" colspan="3">Files</td>
  </tr>
  {% for f in files %}
    <tr>
		<td class="listdir-name"><a class="listdir-name"> {{ f.name }} </a></td>
		<td class="listdir-info"> - / {{ f.revision }} / {{ f.size }} </td>
		<td> </td>
  	</tr>
  {% endfor %}
</table> 

{% endblock %}