{% extends "base.html" %}
{% load staticfiles %}
{% load collection_filters %}

{% block head_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/my_shared_folder.css' %}">
	<script>
       	function show_msg(msg) {
       		alert(msg);
       	}
    </script>
{% endblock %}

{% block title %} My shared folder {% endblock %}

{% block shared_folder_tab %}
<td class="tab"><a class="tab-selected" href={% url 'my_shared_folder' %}>My shared folder</a></td>
{% endblock %}

{% block content %}

<table class="content">
  {# Current Directory #}
  <tr>
  	<td class="description" colspan="3"> Current directory: <span class="normal_text"> {{ rel_path }} </span></td>
  </tr>
  
  {# Header #}
  <tr>
  	<th class="listdir"> Name </th>
  	<th class="listdir"> ID / Revision / Size </th>
  	<th class="listdir"> Action </th>
  </tr>
  
  
  {# .. to navigate to parent directory #}
  {% if not rel_path == "/" %}
  	<tr>
  	  <td class="listdir-name"><a class="listdir-name" href={% url 'my_shared_folder' %}{{ rel_parent_path|urlencode }}> .. </a></td>
  	</tr>
  {% endif %}
  
  {% for d in dirs %}
  	{# List Collections #}
  	{% if d.type == "c" %}
  	<form action={% url 'operations'%} method="post">{% csrf_token %}
  	  <tr>
		<td class="listdir-name"><a class="listdir-name" href={{ d.name|urlencode:"" }}> {{ d.name }} </a></td>
		<td class="listdir-info"><div> {{ d.id }} / {{ d.revision }} / {{ d.size }} </div></td>
		<td> 
		  <select class="listdir-action" name="operation">
			<option value="push:commit">push local revision</option>
			<option value="pull:choose_revision">update to revision</option>
			<option value="unsubscribe">unsubscribe</option>
		  </select>
	 	  <input class="button" type="submit" value="OK" />
	 	  {# Extra parameters #}
	 	  {% make_list rel_path d.name as rel_dir_path_list %}
	 	  <input name="rel_dir_path" type="hidden" value={{ rel_dir_path_list|url_join|urlencode }} />
		  <input name="dir_name" type="hidden" value={{ d.name|urlencode }} />
		  <input name="dir_id" type="hidden" value={{ d.id }} />
		  <input name="dir_revision" type="hidden" value={{ d.revision }} />
		</td>
	  </tr>
	</form>
  	{% endif %}
  	
  	{# List Directories #}
  	{% if d.type == "d" %}
  	<form action={% url 'operations'%} method="post">{% csrf_token %}
  	  <tr>
		<td class="listdir-name"><a class="listdir-name" href={{ d.name|urlencode:"" }}> {{ d.name }} </a></td>
		<td class="listdir-info"> - / {{ d.revision }} / {{ d.size }} </td>
		<td>
			{% if not d.part_of_collection %}
				<select class="listdir-action" name="operation">
				  <option value="add">add to collection</option>
				  <option value="remove">remove from webfolder</option>
				</select>
				<input class="button" type="submit" value="OK" />
		 	  	{# Extra parameters #}
		 	  	{% make_list rel_path d.name as rel_dir_path_list %}
				<input name="rel_dir_path" type="hidden" value={{ rel_dir_path_list|url_join|urlencode }} />
			  	<input name="dir_name" type="hidden" value={{ d.name|urlencode }} />
			  	<input name="dir_revision" type="hidden" value={{ d.revision }} />
			{% endif %}
		</td>
  	  </tr>
  	</form>
  	{% endif %}
  {% endfor %}
  
  {# List Files #}
  {% for f in files %}
    <tr>
		{% make_list rel_path f.name as rel_file_path_list %}
		<td class="listdir-name"><a class="listfile-name" href={% url 'download_to_disk' rel_file_path_list|url_join|urlencode %}> {{ f.name }} </a></td>
		<td class="listdir-info"> - / {{ f.revision }} / {{ f.size }} </td>
		<td> </td>
  	</tr>
  {% endfor %}
</table> 

{% endblock %}